
      /* Add CSS styles here to customize the appearance of the popup */
      body {
        font-family: Arial, sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 20px;
        
      }
      body::before {
        content: '';
        background-image: url('images/glitter rainbow background.jpg');
        background-repeat: repeat;
        opacity: 0.5;
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      /* Add the banner styles for top and bottom banners */
      .banner {
        background-image: url(images/cloudbanner.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 50px;
      }
      .top-banner {
        background-position: top;
        cursor: pointer;
      }
      .bottom-banner {
        background-position: bottom;
      } 
      .centered {
        text-align: center;
      }
      /* What headers should look like */
      h1 {
        font-size: 28px;
        margin: 0 0 20px 0;
        text-align: center;
        color: #fbacb9;
        text-shadow: 2px 2px rgb(135, 108, 134);
        cursor: pointer;
      }
      
      button {
        background-color: #fbacb9;
        color: BLACK;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 20px;
        display: block;
        width: 100%;
        text-decoration: none !important;
      }
      
      button:hover {
        background-color: #FFC0CB;
        text-decoration: none !important;
        cursor: pointer;
      }
      
      label {
        display: block;
        margin-bottom: 5px;
      }
      
      input[type="text"], input[type="email"], input[type="tel"], select, textarea {
        width: 100%;
        padding: 16px 10px;
        border: 1px solid lightpink;
        border-radius: 4px;
        margin-bottom: 20px;
        box-sizing: border-box;
      }
      
      textarea {
        resize: vertical;
        min-height: 100px;
      }
      
      .form-section {
        margin-bottom: 40px;
      }
      
      .work-experience {
        border: 1px solid #ccc;
        padding: 20px;
        margin-bottom: 20px;
      }
      
      .work-experience label {
        font-weight: bold;
      }
      
      .add-experience-button {
        display: block;
        margin: 20px auto;
      }
      
    